*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-pai{
    display: flex;
    background-color: black;
    list-style: none;
    color: white;
    justify-content: center;
}

.menu-pai ul{
    display: flex;
    width: 80%;
    list-style: none;
    justify-content: space-evenly;
}
.menu-pai ul li{
    display: block;
    padding: 20px;
}
.menu-pai ul li:hover{
    background-color: #333;
} 

.container{
    max-width: 1200px;
    height: 60vh;
    margin: 0 auto;
    background-color: #333;
    padding: 30px;
    overflow: hidden;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    background-color: white;
    height: 100%;
    margin-right: -20px;
}

.img, .conteudo{
    background-color: rgba(0, 0, 0, 0.253);
    margin: 10px 10px;
    
    display: flex;
    align-items: center;
}