*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-pai{
    display: flex;
    background-color: black;
    list-style: none;
    color: white;
    justify-content: center;
}

.menu-pai ul{
    display: flex;
    width: 80%;
    list-style: none;
    justify-content: space-evenly;
}
.menu-pai ul li{
    display: block;
    padding: 20px;
}
.menu-pai ul li:hover{
    background-color: #333;
} 

.container{
    max-width: 1200px;
    margin
}